footer {
	position: fixed;
    bottom: 0;
    width: 100%;
    background: #e2e2e2;
    padding-top: 12px;
}

body {
	padding-bottom: 60px;
}

#clients-holder {
	list-style-type: none;
    padding-left: 10px;
    background: whitesmoke;
    box-shadow: 0 0 5px 0 grey;
    padding: 10px 20px;
    border-radius: 3px;
    display: none;
}

#clients-holder li {
	cursor: pointer;
	padding: 5px 0;
	border-bottom: 1px solid #80808047;
}