@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body {
    background: url(../world-map.jpg);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center center;*/
    color: #87aa15;
    font-family: 'Rubik', sans-serif;
}

.color-white {
    color: white;
}

ul {
    list-style: none;
    margin: 0;

}
.c-red {
    color: #ff1616;
}
table td {
    border: 1px solid #000;
    font-size: 22px;
    padding: 15px;
}
table {
    border: 1px solid #000;
    background: #00000042;
    width: 95%;
    padding: 5px;
}
ul li,
table {
    color: #fff;
}
.mb-4 {
    margin-bottom: 30px;
}
.container {
    /*max-width: 1400px;*/
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.col-3 {
    float: left;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    max-width: 25%;
    width: 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
}
.col-4 {
    float: left;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    max-width: 33.333333%;
    width: 33.3333333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
}
.col-6 {
    float: left;
    max-width: 50%;
    width: 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}
.block-text {
    margin-top: 100px;
}
.block-text ul {
    font-size: 26px;
} 
.block-text ul>li {
    margin-bottom: 20px;
}
.block-text ul.font-light > li{
    color: #fff;
}
/* Speedometer */
.block-speedometer {
 position: fixed;
 bottom: 0;
 width: 100%;
}
.progress{
    position: relative;
    margin: 4px;
    float:left;
    text-align: center;
}
#prog_1 {
    color: #fff;
}
#prog_2 {
    color: #ff9800;
}
.barOverflow{ /* Wraps the rotating .bar */
    position: relative;
    overflow: hidden; /* Comment this line to understand the trick */
    width: 400px; height: 200px; /* Half circle (overflow) */
    margin-bottom: -14px; /* bring the numbers up */
}
.bar-wrap{
    position: absolute;
    top: 0; left: 0;
    width: 400px; height: 400px; /* full circle! */
    border-radius: 50%;
    box-sizing: border-box;
    border: 100px solid transparent;     /* half gray, */
}
#prog_1 .bar-wrap {
    border-bottom-color: #ff1616;  /* half azure */
    border-right-color: #ff1616;
}
#prog_2 .bar-wrap {
    border-bottom-color: #ff9800;  /* half azure */
    border-right-color: #ff9800;
}
.bar-wrap:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: 50%;
    border: 2px solid #e8e8e8;
}
.bar-wrap:after {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -100px;
    left: -100px;
    right: -100px;
    bottom: -100px;
    border-radius: 50%;
    border: 2px solid #e8e8e8;
}
.speedometer {
    /*display:flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*height:100%;*/
    position: absolute;
    top: -60px;
    left: -71px;
    width: 144%;
}
svg {
    /*width: calc( 75vh * 327 / 205.4);
    height:75vh;*/
}
path {
    fill: white;
}
.nums > .num{
    color: #fff;
    font-size: 20px;
    position: absolute;
}
.nums > .num:nth-of-type(1) {
    bottom: 0;
    left: 45px;
}
.nums > .num:nth-of-type(2) {
    bottom: 75px;
    left: 75px;
}
.nums > .num:nth-of-type(3) {
    bottom: 122px;
    left: 140px;
}
.nums > .num:nth-of-type(4) {
    bottom: 122px;
    left: 240px;
}
.nums > .num:nth-of-type(5) {
    bottom: 75px;
    left: 300px;
}
.nums > .num:nth-of-type(6) {
    bottom: 0px;
    left: 330px;
}
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.col-6 {
    float: left;
    width: 50%;
    text-align: center;
}

.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}

.justify-content-center {
    display: flex;
    align-items: center;
    justify-content: center;    
}

form {
    margin-top: 10%;
}

h2 {
    font-size: 2rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.btn.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    min-width: auto;
    margin: 10px;
    cursor: pointer;
}

.btn {
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem 1.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    text-decoration: none;
}

